@reference "#tailwind.css";

.item {
    @apply bg-white/80 flex-auto w-full drop-shadow-lg rounded-md flex flex-col;

    & > .thumb {
        @apply relative w-full h-36 md:h-48 lg:h-64 block;
    }

    & > .thumb img {
        @apply rounded-tl-md rounded-tr-md opacity-60;
    }

    & > .content {
        @apply p-3 flex flex-col;

        & > .title {
            @apply my-2;
        }

        & > .meta {
            @apply flex my-2 items-center;
        }

        & > .meta > time {
            @apply ml-2;
        }
    }
}

html[class='dark'] {
    .item {
        @apply !bg-zinc-800/50;
    }
}
